<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Model creator</title>
</head>
<body>

<form method="GET" action="/">
    {% csrf_token %}
    <input type="submit" value="Назад">
</form>

<form method="GET" action= "{% url 'create_new_model' %}">
    {% csrf_token %}
    <h2>Тикер:</h2>
    <input type="text" name="ticker_name" value="{{ticker_name}}"/>
    {% if success == False %}
    <p>{{status}}</p>
    {% endif %}
    <h2>Список собранных новостей:</h2>
    <select name="select_interval">
        <option value="news_2023-03-01_2024-03-01_.json">news_2023-03-01_2024-03-01_.json</option>
        {% for news in news_list %}
        <option value="{{news.name}}">{{news.name}}</option>
        {% endfor %}
    </select>
    <p></p>
    <input type="submit" value="Создать модель">
</form>

<p></p>

{% if success == True %}
    <p>Метрики созданной модели:</p>
    {% csrf_token %}
    <table border="1">
        <tr>
            <th>MSE</th>
            <th>MAE</th>
            <th>R^2</th>
        </tr>
        <tr><td>{{mse}}</td><td>{{mae}}</td><td>{{r2}}</td></tr>
    </table>
    {% include 'forecast.html' %}

    <form method="GET" action="{% url 'save_new_model' %}">
        {% csrf_token %}
        <input type="submit" value="Сохранить модель">
    </form>
{% endif %}

{% if show_save_status == True %}
    <p>{{status}}</p>
{% endif %}

</body>
</html>