<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Value Forecasting</title>
</head>
<body>

<form method="POST" action="get_news/">
    {% csrf_token %}
    <p>Введите диапазон сбора даннх в формате гггг-мм-дд. минимальный диапазон— 90 дней</p>
    <input type="text" name="start_date"/><input type="text" name="end_date"/>
    <input type="submit" value="Cобрать новости">
</form>

<!--<form method="POST" action="new_model/">-->
<!--    {% csrf_token %}-->
<!--    <input type="submit" value="Создать модель">-->
<!--</form>-->




<p></p>

<form method="GET" action="get_demo_forecast/">
    {% csrf_token %}
    <input type="submit" value="Демонстрационный прогноз">
    {% if show_forecast == True %}
    <input type="submit" formaction="/" value="Скрыть">
    {% include 'demo_forecast.html' %}
    {% endif %}
</form>





</body>
</html>