<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Value Forecasting</title>
</head>
<body>

<form method="POST" action="{% url 'get_news' %}">
    {% csrf_token %}
    <p>Введите диапазон сбора даннх в формате гггг-мм-дд. минимальный диапазон— 90 дней</p>
    <input type="text" name="start_date"/><input type="text" name="end_date"/>
    <input type="submit" value="Cобрать новости">
    {% if show_news_status == True %}
    <p>{{status}}</p>
    <input type="submit" formmethod="get" formaction="/"  value="Ok">
    {% endif %}
</form>
<!--<form method="GET" action="/">-->
<!--    {% if show_news_status == True %}-->
<!--    <p>{{status}}</p>-->
<!--    <input type="submit" value="Ok">-->
<!--    {% endif %}-->
<!--</form>-->


<!--<form method="POST" action="new_model/">-->
<!--    {% csrf_token %}-->
<!--    <input type="submit" value="Создать модель">-->
<!--</form>-->

<form method="get" action="{% url 'select_model_and_news' %}">
    {% csrf_token %}
    <h2>Список моделей:</h2>
    <select name="select_model">
        <option value="SBER_model_86.92">SBER_model_86.92</option>
        {% for model in models_list %}
        <option value= model.name>{{ model.name }}</option>
        {% endfor %}
    </select>
    <h2>Список собранных новостей:</h2>
    <select name="select_interval">
        <option value="news_2023-03-01_2024-03-01_.json">news_2023-03-01_2024-03-01_.json</option>
        {% for news in news_list %}
        <option value="{{news.name}}">{{news.name}}</option>
        {% endfor %}
    </select>
    <p></p>
    <input type="submit" value="Выбрать">
    </form>

<p></p>

{% if show_forecast == True %}
<p>Метрики модели:</p>
{% csrf_token %}
<table>
    <tr>
        <td>MSE= {{mse}}</td>
        <td>MAE= {{mae}}</td>
        <td>R^2= {{r2}}</td>
    </tr>
</table>
{% include 'forecast.html' %}
{% endif %}

<p></p>

<form method="GET" action="{% url 'demo_forecast' %}">
    {% csrf_token %}
    <input type="submit" value="Демонстрационный прогноз">
    {% if show_demo_forecast == True %}
    <input type="submit" formaction="/" value="Скрыть">
    {% include 'demo_forecast.html' %}
    {% endif %}
</form>





</body>
</html>