<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="get" action="/">
    {% csrf_token %}
    <p><input type="submit" value="Назад"></p>
</form>


<p><input type="text" name="model_name" value={{model_name}} readonly></p>


<form method="POST" action="{% url 'interval_selection' %}">
    {% csrf_token %}
    <h2>Список собранных новостей:</h2>
    <select name="select_interval">
        {% for news in news_list %}
        <option value={{news.name}}>{{news.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Выбрать">
    </form>


{% if show_forecast == True %}
<p>Метрики созданной модели:</p>
{% csrf_token %}
<table>
    <tr>
        <td>MSE= {{mse}}</td>
        <td>MAE= {{mae}}</td>
        <td>R^2= {{r2}}</td>
    </tr>
</table>
{% include 'forecast.html' %}
{% endif %}

</body>
</html>